<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="NLog NLog.xsd"
	  autoReload="true"
	  >

    <!--
	<variable name="LogDirectory" value="/var/log/${processname}/${date:format=yyyy-MM-dd}/${machinename}"/>
    -->
    <variable name="LogDirectory" value="log"/>
	<variable name="SimpleLogFileLayout" value="${date:format=HH\:mm\:ss.fff}|${machinename}|${processname}|${processid}|${threadid}|${level}|${logger}|${callsite:className=false:methodName=true:filename:false:includeSourcePath=false}|${message}|${exception:format=type,message,StackTrace:maxInnerExceptionLevel=10:innerFormat=type,message,StackTrace}"/>

	<targets>
		<default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow" timeToSleepBetweenBatches="0"/>
		<target name="SimpleLog" xsi:type="File"
				fileName="${LogDirectory}/${processname}_Log_General_${shortdate}.txt"
				layout="${SimpleLogFileLayout}"
				keepFileOpen="true"
				concurrentWrites="true" />
		<target name="LogConsole" xsi:type="ColoredConsole" layout="${SimpleLogFileLayout}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="LogConsole" />
		<logger name="*" minlevel="Info" writeTo="SimpleLog" />
	</rules>
</nlog>